*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  font-size: 16px;
  font-family: sans-serif;
  background-color: #191724;
}

button {
  cursor: pointer;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: #191724;
  color: #e0def4;
  padding-top: 10px;
}

/* chat component */
.messages-wrapper {
  padding: 30px;
  margin-bottom: 60px;
  color: #e0def4;
}

.chat-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-bubble {
  background-color: #26233a;
  margin: 0.7rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-message {
  word-break: break-all;
}

.message-time {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
}

/* send message */
.send-message {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 20px 30px;
  background-color: #1f1d2e;
  display: flex;
}
.send-message > input {
  height: 40px;
  padding: 10px 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  flex-grow: 1;
  background-color: #ebbcba;
  color: #1f1d2e;
  font-size: 1rem;
}
.send-message > input:placeholder {
  color: #26233a;
}
.send-message > :is(input, button):focus {
  outline: none;
  border-bottom: 1px solid #6e6a86;
}
.send-message > button {
  width: 70px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  color: #242443;
  background-color: #f6c177;
  font-weight: 600;
}

.copy-button {
  background: none;
  border: solid 0.1rem #a6e3a1;
  border-radius: 0.2rem;
  padding: 0.1rem;
  transition: 0.3s ease;
}
.copy-button:hover {
  filter: brightness(80%);
}
